:root {
  color-scheme: light dark;

  --bg-color: light-dark(#ffffff, #222222);
  --text-color: light-dark(#222222, #ffffff);
  --link-color: light-dark(#1d7c2b, #66e078);
}

@import "components/header.css";
@import "components/footer.css";

body {
  background-color: var(--bg-color);
  color: var(--color);
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

a {
  color: var(--link-color);
}


blockquote {
  margin: 0;
  padding-left: 20px;
  border-left: 5px solid var(--link-color);
}

blockquote p {
  text-indent: 3em;
  margin: 0;
}